<?xml version="1.0"?>
<configuration>
  <!-- Server Configuration-->
  <appSettings>
    <!--<add key="ConnectionString" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.137.173)(PORT=32769)))(CONNECT_DATA= (SID = ORCLCDB)(SERVER = DEDICATED)));User Id=vrbdev;Password=vrbdev;"/>-->
    <add key="ConnectionString" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.62.1.130)(PORT=1521)))(CONNECT_DATA= (SID = REPORTTTT)(SERVER = DEDICATED)));User Id=vrbdev;Password=vrbdev;"/>
    <add key="ServiceUri" value="net.tcp://10.60.11.4:8000"/>
    <add key="ServiceUriHttp" value="http://localhost:9001"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>    
  </system.web>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
</configuration>
