<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ServiceUri" value="net.tcp://10.60.11.4:8000"/>
    <add key="AutoUpdateUri" value="http://10.176.1.211/AutoUpdate/"/>
    <add key="AutoUpdateConfig" value="N"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="HOMEDirectory" value="E:\Working\VRB\10. WIP\50. PROGRAM\Source\Caythumuc"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
